@import 'normalize';

html,
body,
.projection {
    width: 100%;
    height: 100%;
}
.projection {
    background: #333;
}
circle {
    fill: #efefef;
}
path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 0.5px;
}
